In [19]:
import json
import ast
import pandas as pd

a_file = open("seat_CLS_templates_Language_models.json", "r")
seat_CLS_templates = a_file.read()
seat_CLS_templates = json.loads(seat_CLS_templates)
cls_correlation_df = pd.DataFrame(seat_CLS_templates)
cls_df = cls_correlation_df.mean(axis = 1)
cls_df

0    0.903205
1    0.517609
2    1.150959
3    0.765110
4    0.395628
dtype: float64

In [20]:
import json
import ast
import pandas as pd

a_file = open("2_seat_no_context_templates_Language_models.json", "r")
seat_no_context_templates_Language_models = a_file.read()
seat_no_context_templates_Language_models = json.loads(seat_no_context_templates_Language_models)
seat_no_context_templates_Language_models_df = pd.DataFrame(seat_no_context_templates_Language_models)
seat_no_context_templates_Language_models_df = seat_no_context_templates_Language_models_df.mean(axis = 1)
seat_no_context_templates_Language_models_df

0    0.586886
1    0.040473
2   -0.154225
3    0.915775
4    0.019882
dtype: float64

In [21]:
import json
import ast
import pandas as pd

a_file = open("3_seat_no_context_pooled_templates_Language_models.json", "r")
seat_no_context_pooled_templates_Language_models = a_file.read()
seat_no_context_pooled_templates_Language_models = json.loads(seat_no_context_pooled_templates_Language_models)
seat_no_context_pooled_templates_Language_models_df = pd.DataFrame(seat_no_context_pooled_templates_Language_models)
seat_no_context_pooled_templates_Language_models_df = seat_no_context_pooled_templates_Language_models_df.mean(axis = 1)
seat_no_context_pooled_templates_Language_models_df

0    0.624534
1   -0.303670
2    0.045648
3    0.565342
4    0.004515
dtype: float64

In [24]:
import json
import ast
import pandas as pd

a_file = open("4_seat_SWP_pooled_templates_Language_models.json", "r")
Seat_SWP_pooled_Language_models = a_file.read()
Seat_SWP_pooled_Language_models = json.loads(Seat_SWP_pooled_Language_models)
Seat_SWP_pooled_Language_models_df = pd.DataFrame(Seat_SWP_pooled_Language_models)
Seat_SWP_pooled_Language_models_df = Seat_SWP_pooled_Language_models_df.mean(axis = 1)
Seat_SWP_pooled_Language_models_df

0    0.844692
1    0.759679
2    0.756952
3    0.586787
4    0.557663
dtype: float64

In [25]:
import json
import ast
import pandas as pd

a_file = open("5_seat_SWP_templates_Language_models.json", "r")
seat_SWP_templates_Language_models = a_file.read()
seat_SWP_templates_Language_models = json.loads(seat_SWP_templates_Language_models)
seat_SWP_templates_Language_models_df = pd.DataFrame(seat_SWP_templates_Language_models)
seat_SWP_templates_Language_models_df = seat_SWP_templates_Language_models_df.mean(axis = 1)
seat_SWP_templates_Language_models_df

0    0.642853
1    0.622108
2    0.578971
3    0.673112
4    0.450213
dtype: float64

In [12]:
import json
import ast
import pandas as pd

a_file = open("6_seat_vulic_templates_Language_models.json", "r")
seat_vulic_templates_Language_models = a_file.read()
seat_vulic_templates_Language_models = json.loads(seat_vulic_templates_Language_models)
seat_vulic_templates_Language_models_df = pd.DataFrame(seat_vulic_templates_Language_models)
seat_vulic_templates_Language_models_df = seat_vulic_templates_Language_models_df.mean(axis = 1)
seat_vulic_templates_Language_models_df

0    0.998898
1    0.943701
2    1.048917
3    0.776440
4    0.362717
dtype: float64

In [14]:
corr_df = pd.concat([cls_df, seat_no_context_templates_Language_models_df, seat_no_context_pooled_templates_Language_models_df, Seat_SWP_pooled_Language_models_df, seat_SWP_templates_Language_models_df, seat_vulic_templates_Language_models_df], axis=1)
corr_df

          0         1         2         3         4         5
0  0.903205  0.586886  0.624534  0.844692  0.642853  0.998898
1  0.517609  0.040473 -0.303670  0.759679  0.622108  0.943701
2  1.150959 -0.154225  0.045648  0.756952  0.578971  1.048917
3  0.765110  0.915775  0.565342  0.586787  0.673112  0.776440
4  0.395628  0.019882  0.004515  0.557663  0.450213  0.362717

In [15]:
corr = corr_df.corr(method="pearson")

In [16]:
corr.style.background_gradient(cmap='coolwarm', axis=None)

In [4]:
SWP_correlation_df = pd.DataFrame(seat_SWP_templates)

In [5]:
SWP_correlation_df

,temp1,temp2,temp3,temp4,temp5,temp6,temp7,temp8,temp9,temp10,temp11
0,0.697310,0.638042,0.526831,0.657153,0.769780,0.699615,0.426369,0.883557,0.732028,0.492450,0.548246
1,0.716191,0.761539,0.638168,0.538252,0.718469,0.855524,0.364053,0.744915,0.270908,0.177106,1.058066
2,0.726259,0.482323,0.438272,0.367341,0.589767,0.557613,0.645076,0.470532,0.635380,0.644608,0.811503
3,0.575352,0.679615,0.624736,0.692639,0.744659,0.745710,0.635425,0.682944,0.611889,0.698984,0.712282
4,0.588374,0.524936,0.429189,0.506633,0.382248,0.413249,0.418470,0.470509,0.643383,0.343785,0.231571

In [12]:
SWP_df = SWP_correlation_df.mean(axis = 1)
SWP_df

0    0.642853
1    0.622108
2    0.578971
3    0.673112
4    0.450213
dtype: float64

correlation of results

In [9]:
cls_correlation_df

,temp1,temp2,temp3,temp4,temp5,temp6,temp7,temp8,temp9,temp10,temp11
0,1.167138,1.142949,0.646811,1.157351,0.991012,1.053681,0.609946,1.195015,1.061959,0.375970,0.533423
1,0.613182,0.768258,0.239446,0.582099,0.401164,0.589831,0.315054,0.790053,0.472379,0.666829,0.255406
2,1.245065,1.044892,1.192398,1.061558,1.123705,1.186450,1.267020,1.159719,1.105093,1.318764,0.955881
3,0.824178,0.871382,0.417167,0.761588,0.765071,0.811055,0.848156,0.763102,1.094728,0.874156,0.385628
4,0.389974,0.159528,0.372448,0.757803,0.355018,0.394137,0.382028,0.411563,0.169220,0.500763,0.459423

0    0.903205
1    0.517609
2    1.150959
3    0.765110
4    0.395628
dtype: float64

correlation analysis

In [18]:
corr_df = pd.concat([SWP_df, cls_df], axis=1)
corr_df

          0         1
0  0.642853  0.903205
1  0.622108  0.517609
2  0.578971  1.150959
3  0.673112  0.765110
4  0.450213  0.395628